@use "./variables.scss";

// Global

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

// Layout

#page {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  background-color: var(--theme-background-solid);
  color: var(--theme-color-solid);

  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Aside

.page-aside {
  background: var(--theme-background-strong);
  border-right: 1px solid var(--theme-border-solid);
  box-sizing: border-box;
  flex: 0;
  height: 100%;
  min-width: 280px;
  overflow: auto;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  &-inner {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &-options {
    &-button {
      border: 0;
      font: inherit;
      background: transparent;
      padding: 0;
      margin: 0;
      color: inherit;
      display: block;
      width: 24px;
      height: 24px;
      background-color: var(--theme-color-solid);
      mask-repeat: no-repeat;
      mask-size: contain;

      &.schema-light {
        mask-image: url("/assets/icons/schema/light.svg");
      }

      &.schema-dark {
        mask-image: url("/assets/icons/schema/dark.svg");
      }

      &.schema-auto {
        mask-image: url("/assets/icons/schema/auto.svg");
      }
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  summary {
    cursor: pointer;
  }

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    & > li:not(.dropdown) > a {
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 0.5em 0 0.5em 0.5em;

      &.active {
        border-left: 1px solid var(--theme-active-weak);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--theme-hover);
        }
      }
    }

    & > li,
    & > li > a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 1.5em;
    }

    & > .dropdown {
      .dropdown {
        padding-left: 1em;
      }
    }

    ul {
      & > li:not(.dropdown) {
        border-left: 1px solid var(--theme-interactive-background);
      }
    }
  }

  .dropdown {
    &-label {
      padding: 0.5em 0.5em;
      background: var(--theme-interactive-background);
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          background: var(--theme-interactive-background-hover);
        }
      }

      &-caret {
        height: 24px;
        mask-image: url("/assets/icons/caret.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 24px;
      }
    }

    &-content {
      overflow: hidden;

      & > ul {
        padding-top: 0.25rem;
      }
    }
  }
}

// Search

.page-search {
  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-overlay-background);
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    padding: 1em;
    box-sizing: border-box;
  }

  &-input {
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(2rem, 10vh, 7rem);
    padding: 0.5em;
    width: min(100%, 420px);
    background: var(--theme-background-solid);
    border-radius: 0.5em;
  }

  &-results {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &-result {
    border-radius: 0.25rem;
    border: 1px solid var(--theme-border-solid);
    background-color: var(--theme-background-strong);
    display: flex;
    flex-direction: column;

    &-heading {
      padding: 0.25em;
      background-color: var(--theme-interactive-background);
      border-bottom: 1px solid var(--theme-border-solid);
    }

    &-preview {
      max-height: 80px;
      overflow: hidden;
      font-size: 0.85em;
      white-space: pre-line;
      padding: 0.5em 0.25em;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 1.5rem;
        background-image: linear-gradient(transparent, var(--theme-background-strong));
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }

    &-href {
      overflow: hidden;
      font-size: 0.85em;
      white-space: pre-line;
      padding: 0.25em;
      white-space: pre;
      border-top: 1px solid var(--theme-border-solid);
      color: var(--theme-active-solid);
    }
  }

  &-trigger {
    margin: 1rem 0;
  }
}

// HTML

.text-input {
  border: 1px solid var(--theme-border-solid);
  border-radius: 0.25rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  min-height: 1.5em;
  padding: 0.5em;

  &::placeholder {
    color: var(--theme-color-placeholder);
  }

  &:focus {
    outline: 1px solid var(--theme-active-solid);
  }
}

// Template

.page-content {
  padding-bottom: 1rem;
  padding-top: 1rem;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;

  &-inner {
    width: 100%;
    max-width: 1024px;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}

// Content

#md {
  // Table

  table {
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid var(--theme-border-solid);
  }

  th,
  td {
    padding: 0.25em 0.5em;
  }

  // Tasks list

  .contains-task-list {
    list-style-type: none;
    padding: 0;
  }

  // Titles

  h1,
  h2,
  h3 {
    border-bottom: 1px solid var(--theme-border-solid);
    padding-bottom: 0.15em;
  }

  // lines

  hr {
    color: var(--theme-border-solid);
    border-width: 0.5px;
    border-style: solid;
  }

  // Links

  a {
    color: var(--theme-active-solid);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.125em;
  }

  // Blockquote

  blockquote {
    background-color: var(--theme-background-strong);
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-block-start: 0.75em;
    padding-block-end: 0.75em;
    padding-inline-start: 2.5rem;
    padding-inline-end: 2.5rem;
    border-left: 1px solid var(--theme-border-solid);

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

// Stiles

.strong {
  color: var(--theme-active-solid);
}
