// Global

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

// Layout

#page {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
  padding: 0;

  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Aside

.page-aside {
  background: whitesmoke;
  border-radius: 0.25rem;
  border-right: 1px solid lightgray;
  flex: 0;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  user-select: none;
  min-width: 200px;
  box-sizing: border-box;

  & > nav {
    position: sticky;
    top: 1.5rem;
  }

  summary {
    cursor: pointer;
  }

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-direction: column;

    & > * {
      display: flex;
      flex-direction: column;
      min-height: 1.5em;
    }

    & > li {
      border-left: 1px solid lightgray;
      padding-left: 0.5em;
    }

    & > details {
      & > ul {
        padding-left: 1em;
      }
    }
  }
}

// Template

.page-content {
  padding-bottom: 1rem;
  padding-top: 1rem;
  flex: 1;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

// Content

#md {
  // Table

  table {
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid lightgray;
  }

  th,
  td {
    padding: 0.25em 0.5em;
  }

  // Tasks list

  .contains-task-list {
    list-style-type: none;
    padding: 0;
  }

  // Titles

  h1,
  h2,
  h3 {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 0.15em;
  }
}
