// elements

.a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;

  @media (hover: hover) {
    &:hover {
      background-color: lightcyan;
    }
  }
}

.button {
  background: #f1f3f4;
  border-radius: 0.35em;
  border: 0;
  font: inherit;
  padding: 0.5em 0.75em;
  cursor: pointer;
  min-height: 46px;
  color: black;

  @media (hover: hover) {
    &:hover {
      background-color: lightcyan;
    }
  }

  &--3d {
    box-shadow: 0px 2px 2px rgba(96, 96, 96, 0.1);
    border: 2px solid #dfdfdf;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
        transform: translateY(2px);
      }
    }
  }

  &--dark {
    background: darkslategray;
    color: #84ffff;

    @media (hover: hover) {
      &:hover {
        background-color: 84ffff;
        color: darkslategray;
      }
    }
  }

  &--thin {
    min-height: 32px;
  }
}

//

.wrapper {
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 0.5rem;

  &.vertical {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
  }
}

.url {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: darkslategray;
  padding: 0.25em 0.5em;
  border-radius: 0.15em;
  color: #84ffff;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  padding: 0.5rem;
  background: #00000025;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &-content {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-heading {
    flex: 0;
    background: black;
    color: white;
    padding: 0.25em;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: stretch;
  }

  &-preview {
    flex: 1;
    background-color: white;
  }
}

.availability {
  width: 445px;
  max-width: 100%;
  border-radius: 0.5em;
  box-shadow: 0px 2px 2px rgba(96, 96, 96, 0.1);
  border: 2px solid #dfdfdf;
}

.small {
  font-size: 0.85em;
}

.nom {
  margin: 0;
}

.card {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0.5em;
}
